<mat-card class="container-fluid">
  <div *ngIf="animes == null" align="center">
    <img class="box" src="assets/load.gif"width="900" height="600">
  </div>
  <div *ngIf="animes!=null" >{{loadAnimes()}}
    <div *ngIf="animesForUser.length===0" align="center">
      <h1>No has cargado nada aun...</h1>
      <img class="box" src="assets/nosientodolor.gif"width="900" height="600">
    </div>
    <div *ngIf="animesForUser!=null" class="row">
    <div class="col-md-4" *ngFor="let anime of animesForUser">
      <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
          {{anime.title}}
          <button class="btn btn-danger" (click)="deleteAnime(anime.key)">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
        <img [src]="anime.image === '' ? '/assets/noimage.png' : anime.image" alt="No Image" class="card-img-top">
        <div class="card-body">
          <p>{{anime.estado}}</p>
          <p *ngIf="anime.estado == 'visto hasta' || anime.estado == 'abandone' ">Capitulo: {{anime.ultimoCapitulo}}</p>
          <p>Descripcion: {{anime.description}}</p>
          <p class="clasificacion" *ngIf="anime.calificacion == 5">
            <label name="estrellas" class=estrella>★★★★★</label>
          </p>
          <p class="clasificacion" *ngIf="anime.calificacion == 4">
            <label name="estrellas" class=estrella>★★★★</label>
          </p>
          <p class="clasificacion" *ngIf="anime.calificacion == 3">
            <label name="estrellas" class=estrella>★★★</label>
          </p>
          <p class="clasificacion" *ngIf="anime.calificacion == 2">
            <label name="estrellas" class=estrella>★★</label>
          </p>
          <p class="clasificacion" *ngIf="anime.calificacion == 1">
            <label name="estrellas" class=estrella>★</label>
          </p>
          <p>Created At {{anime.created_at}}</p>
          <a [routerLink]="['/anime/', anime.key]" class="btn btn-info btn-block">
            EDIT ANIME
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</mat-card>
