
<div style="height: 80vh;" [style.visibility]="displayNavbar == '1' ? 'visible' : 'hidden'" >
  <mat-toolbar >
    <mat-toolbar-row >
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm  >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Menu</span> &nbsp; &nbsp;<span>{{email}}</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a  mat-button href="/AllForOne" routerLinkActive="active"><i class="fas fa-kiss-wink-heart"></i> ALL FOR ONE</a>
        <a  mat-button href="/animes" routerLinkActive="active"><i class="fas fa-kiss-wink-heart"></i> ANIMES</a>
        <a   mat-button href="/anime/null" routerLinkActive="active"><i class="fas fa-plus-circle"></i> ADD ANIMES</a>
          <a  mat-button href="/mangas" routerLinkActive="active"><i class="fas fa-book"></i> MANGAS</a>
          <a   mat-button href="/manga/null" routerLinkActive="active"><i class="fas fa-plus-circle"></i> ADD MANGA</a>
          <a   mat-button (click)=logout() routerLinkActive="active"><i class="fas fa-plus-circle"></i>  LOGOUT</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container #snav mode="side" fxFlexFill >
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a class="nav-link " mat-list-item routerLink="/AllForOne" routerLinkActive="active"><i class="fas fa-kiss-wink-heart"></i> ALL FOR ONE</a>
        <a class="nav-link " mat-list-item routerLink="/animes" routerLinkActive="active"><i class="fas fa-kiss-wink-heart"></i> ANIMES</a>
        <a class="nav-link" mat-list-item routerLink="/anime/null" routerLinkActive="active"><i class="fas fa-plus-circle"></i> ADD  ANIMES</a>
          <a class="nav-link" mat-list-item routerLink="/mangas" routerLinkActive="active"><i class="fas fa-book"></i> MANGAS</a>
          <a class="nav-link" mat-list-item routerLink="/manga/null" routerLinkActive="active"><i class="fas fa-plus-circle"></i> ADD  MANGA</a>
          <br><br><img  alt=logo src="/assets/pngocean.com (6).png" height="42" width="42" margin="20"/>
          <br><br>
          {{email}}
          <a class="nav-link" mat-list-item (click)=logout() routerLinkActive="active"><i class="fas fa-plus-circle"></i>  LOGOUT</a>

      </mat-nav-list>
    </mat-sidenav>
 <div class="container p-4">
    <router-outlet></router-outlet>
</div>
  </mat-sidenav-container>
</div>

