<mat-card class="container-fluid">
  <div *ngIf="mangas == null" align="center">
    <img class="box" src="assets/un-libro-booktag.gif">
  </div>
  <div *ngIf="mangas!=null" >{{loadMangas()}}
    <div *ngIf="mangas.length === 0" align="center">
      <h1>No has cargado nada aun...</h1>
      <img class="box" src="assets/nomanga.gif">
    </div>
    <div *ngIf="mangasForUser!=null" class="row">
    <div class="col-md-4" *ngFor="let manga of mangasForUser">
      <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
          {{manga.title}}
          <button class="btn btn-danger" (click)="deleteManga(manga.key)">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
        <img  [src]="manga.image === '' ? '/assets/noimage.png' : manga.image" alt="No Image" class="card-img-top">
        <div class="card-body">
          <p>{{manga.estado}}</p>
          <p *ngIf="manga.estado == 'visto hasta' || manga.estado == 'abandone' ">Capitulo: {{manga.ultimoCapitulo}}</p>
          <p>Descripcion: {{manga.description}}</p>
          <p class="clasificacion" *ngIf="manga.calificacion == 5">
            <label name="estrellas" class=estrella>★★★★★</label>
          </p>
          <p class="clasificacion" *ngIf="manga.calificacion == 4">
            <label name="estrellas" class=estrella>★★★★</label>
          </p>
          <p class="clasificacion" *ngIf="manga.calificacion == 3">
            <label name="estrellas" class=estrella>★★★</label>
          </p>
          <p class="clasificacion" *ngIf="manga.calificacion == 2">
            <label name="estrellas" class=estrella>★★</label>
          </p>
          <p class="clasificacion" *ngIf="manga.calificacion == 1">
            <label name="estrellas" class=estrella>★</label>
          </p>
          <p>Created At {{manga.created_at}}</p>
          <a [routerLink]="['/manga/', manga.key]" class="btn btn-info btn-block">
            EDIT MANGA
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</mat-card>
