<mat-card  class="container-fluid">
  <div class="form-group">
    <label>CATEGORIA</label>
    <select name="TIPO" [(ngModel)]="tipo" placeholder="TIPO" class="form-control" autofocus>
      <option value='mangas'>MANGA</option>
      <option value='animes'>ANIME</option>
    </select>
  </div>
  <div class="form-group" *ngIf="animes!=null && mangas!=null">
    <label>VER POR USUARIO</label>
    <p *ngIf="tipo=='mangas'">{{getUSers(mangas)}}</p>
    <p *ngIf="tipo=='animes'">{{getUSers(animes)}}</p>
    <select name="USERS" [(ngModel)]="userSelect" placeholder="USUARIO" class="form-control" autofocus>
      <option selected></option>
      <option *ngFor="let user of usuarios">{{user}}</option>
    </select>
  </div>
  <div *ngIf="tipo==''" align="center">
    <img class="box" src="assets/select.gif">
  </div>
  <div *ngIf="tipo=='animes'" >
    <div *ngIf="animes.length===0" align="center"  >
      <h1> Aun no cargaste nada...</h1>
        <img class="box" src="assets/watamole.gif" >
      </div>
    <div *ngIf="animes!=null && userSelect==''" class="row">
    <div *ngFor="let anime of animes"  class="col-md-3" >
      <div class="card text-center">{{loadUsername(anime)}}
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
          {{anime.title}}
        </div>
        <img [src]="anime.image === '' ? '/assets/noimage.png' : anime.image" alt="No Image" class="card-img-top">
        <div class="card-body">
          <p>{{anime.estado}}</p>
          <p *ngIf="anime.estado == 'visto hasta' || anime.estado == 'abandone' ">Capitulo: {{anime.ultimoCapitulo}}</p>
          <p>Descripcion: {{anime.description}}</p>
          <p class="clasificacion" *ngIf="anime.calificacion == 5">
            <label name="estrellas" class=estrella>★★★★★</label>
          </p>
          <p class="clasificacion" *ngIf="anime.calificacion == 4">
            <label name="estrellas" class=estrella>★★★★</label>
          </p>
          <p class="clasificacion" *ngIf="anime.calificacion == 3">
            <label name="estrellas" class=estrella>★★★</label>
          </p>
          <p class="clasificacion" *ngIf="anime.calificacion == 2">
            <label name="estrellas" class=estrella>★★</label>
          </p>
          <p class="clasificacion" *ngIf="anime.calificacion == 1">
            <label name="estrellas" class=estrella>★</label>
          </p>
          <p>LO AÑADIO: {{username}}</p>
          <p>Created At {{anime.created_at}}</p>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div *ngIf="tipo=='mangas'" >
    <div *ngIf="mangas.length===0" align="center">
      <h1> Aun no cargaste nada...</h1>
        <img class="box" src="assets/original.gif">
      </div>
      <div *ngIf="mangas!=null  && userSelect==''" class="row">
        <div class="col-md-4" *ngFor="let manga of mangas">
          <div class="card text-center">{{loadUsername(manga)}}
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
              {{manga.title}}
            </div>
            <img [src]="manga.image === '' ? '/assets/noimage.png' : manga.image" alt="No Image" class="card-img-top">
            <div class="card-body">
              <p>{{manga.estado}}</p>
              <p *ngIf="manga.estado == 'visto hasta' || manga.estado == 'abandone' ">Capitulo: {{manga.ultimoCapitulo}}</p>
              <p>Descripcion: {{manga.description}}</p>
              <p class="clasificacion" *ngIf="manga.calificacion == 5">
                <label name="estrellas" class=estrella>★★★★★</label>
              </p>
              <p class="clasificacion" *ngIf="manga.calificacion == 4">
                <label name="estrellas" class=estrella>★★★★</label>
              </p>
              <p class="clasificacion" *ngIf="manga.calificacion == 3">
                <label name="estrellas" class=estrella>★★★</label>
              </p>
              <p class="clasificacion" *ngIf="manga.calificacion == 2">
                <label name="estrellas" class=estrella>★★</label>
              </p>
              <p class="clasificacion" *ngIf="manga.calificacion == 1">
                <label name="estrellas" class=estrella>★</label>
              </p>
              <p>LO AÑADIO: {{username}}</p>
              <p>Created At {{manga.created_at}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="userSelect!=''" >{{getListForUser()}}
      <div *ngIf=" list.length===0" align="center">
        <h1> Aun no cargaste nada...</h1>
          <img class="box" src="assets/original.gif">
        </div>
        <div *ngIf="list!=null" class="row">
          <div class="col-md-4" *ngFor="let other of  list">
            <div class="card text-center">{{loadUsername(other)}}
              <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                {{other.title}}
              </div>
              <img [src]="other.image === '' ? '/assets/noimage.png' : other.image" alt="No Image" class="card-img-top">
              <div class="card-body">
                <p>{{other.estado}}</p>
                <p *ngIf="other.estado == 'visto hasta' || other.estado == 'abandone' ">Capitulo: {{other.ultimoCapitulo}}</p>
                <p>Descripcion: {{other.description}}</p>
                <p class="clasificacion" *ngIf="other.calificacion == 5">
                  <label name="estrellas" class=estrella>★★★★★</label>
                </p>
                <p class="clasificacion" *ngIf="other.calificacion == 4">
                  <label name="estrellas" class=estrella>★★★★</label>
                </p>
                <p class="clasificacion" *ngIf="other.calificacion == 3">
                  <label name="estrellas" class=estrella>★★★</label>
                </p>
                <p class="clasificacion" *ngIf="other.calificacion == 2">
                  <label name="estrellas" class=estrella>★★</label>
                </p>
                <p class="clasificacion" *ngIf="other.calificacion == 1">
                  <label name="estrellas" class=estrella>★</label>
                </p>
                <p>LO AÑADIO: {{username}}</p>
                <p>Created At {{other.created_at}}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
</mat-card>
