<mat-card class="container-fluid">
  <div *ngIf="dramas == null" align="center">
    <img class="box" src="assets/drAM.gif">
  </div>
  <div *ngIf="dramas!=null" >{{loadDramas()}}
    <div *ngIf="dramasForUser.length === 0" align="center">
      <h1>No has cargado nada aun...</h1>
      <img class="box" src="assets/giphy (1).gif">
    </div>
    <div *ngIf="dramasForUser!=null" class="row">
    <div class="col-md-4" *ngFor="let drama of dramasForUser">
      <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
          {{drama.title}}
          <button class="btn btn-danger" (click)="deleteDrama(drama.key)">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
        <img  [src]="drama.image === '' ? '/assets/noimage.png' : drama.image" alt="No Image" class="card-img-top">
        <div class="card-body">
          <p>{{drama.estado}}</p>
          <p *ngIf="drama.estado == 'visto hasta' || drama.estado == 'abandone' ">Capitulo: {{drama.ultimoCapitulo}}</p>
          <p>Descripcion: {{drama.description}}</p>
          <p class="clasificacion" *ngIf="drama.calificacion == 5">
            <label name="estrellas" class=estrella>★★★★★</label>
          </p>
          <p class="clasificacion" *ngIf="drama.calificacion == 4">
            <label name="estrellas" class=estrella>★★★★</label>
          </p>
          <p class="clasificacion" *ngIf="drama.calificacion == 3">
            <label name="estrellas" class=estrella>★★★</label>
          </p>
          <p class="clasificacion" *ngIf="drama.calificacion == 2">
            <label name="estrellas" class=estrella>★★</label>
          </p>
          <p class="clasificacion" *ngIf="drama.calificacion == 1">
            <label name="estrellas" class=estrella>★</label>
          </p>
          <p>Created At {{drama.created_at}}</p>
          <a [routerLink]="['/drama/', drama.key]" class="btn btn-info btn-block">
            EDIT DRAMA
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</mat-card>
